<h2>tasks#index</h2>
<%= link_to '新規task', new_task_path %>
<table>
  <tr>
    <th>タスク名</th>
    <th>タスク詳細</th>
  </tr>
  <% @tasks.each do |task| %>
  <tr>
    <td><%= task.task_name %></td>
    <td><%= task.detail %></td>
  </tr>
  <% end %>
</table>
